ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li a {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    display: flex;
    display: block;
    height: auto;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: auto;
    transition: font-size .4s;
}

ul a:hover {
    color: rgba(255, 255, 255, 0.61);
    font-size: 1.3em;
    transition: color .6s, font-size .4s;
    text-decoration: underline;
}